
footer {
    display: inline-flex;
    
    flex-direction: column;
    gap: 40px;
  }
   
  .socials {
    display: flex;
    width: 102px;
    gap: 16px;
    padding-top: 40px;
  }
   
  .info {
    display: grid;
    grid-template-columns: 1200px 540px;
    gap: 32px;
  }
   
  .infoItem {
    padding: 32px;
    border-radius: 12px;
    background: #f2f4f5ff;
   
    span {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      color: var(--grey);
    }
  }
   
  .cards {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .mapContainer {
    width: 100%;
    height: 400px; 
  }
  
  .iframeStyle {
    border: 0;
    width: 100%;
    height: 100%;
  }