.notFoundPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.error {
  
    width: 50vw;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}